<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pufei.gxdt">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="Android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="S" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.user.activity.DraftActivity" />
        <activity
            android:name=".module.maker.activity.MakerFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.maker.activity.EditImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.discover.activity.DiscoverDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.discover.activity.DisPictureDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.discover.activity.DisWorksActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.news.activity.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.news.activity.NewsSystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.news.activity.NewsFeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".module.news.activity.NewsPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.AboutProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.AccountSafetyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.AgreeementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.EditNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.start.ui.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.FaceTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.JokeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.JokeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.PictureDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.HotImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.ThemeImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.HomeImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.home.activity.SearchDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pufei.gxdt.module.start.ui.FristActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.FavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.user.activity.EditDeclarationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sign.ui.CrunchiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.sign.ui.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pufei.gxdt.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105886594" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 百度广告-->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="afe98c25" />
        <!-- 腾讯广告-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5850b381734be40cef0006f8" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="15e428095c58c39185c63271d439ba98" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service android:name="com.pufei.gxdt.module.floating.FloatWindowService" />
        <service android:name="com.pufei.gxdt.module.update.service.UpdateService" />

        <provider
            android:name="com.baidu.mobads.openad.FileProvider"
            android:authorities="${packageName}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_paths" />
        </provider>

        <provider
            android:name=".base.TencentProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pufei.gxdt.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        
    </application>

</manifest>